[Unit]
Description=Fetch Google Calendar at login and daily, and schedule event reminders

[Timer]
OnStartupSec=15s
OnCalendar=*-*-* 08:00:00

[Install]
WantedBy=timers.target
