[Unit]
Description=Periodically check Google Calendar for upcoming event reminders

[Timer]
OnBootSec=15s
OnUnitActiveSec=60s
AccuracySec=5s

[Install]
WantedBy=timers.target
