[Unit]
Description=Periodically update weather location from connected WiFi SSID

[Timer]
OnBootSec=15s
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
